body {
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 1em;
}

p {
  font-size: 1.2em;
  color: gray;
}

img {
  padding-bottom: 2em;
}

.main-heading {
  font-weight: 400;
  font-size: 3.1em;
}

.sub-heading {
  font-weight: 300;
  font-size: 2.1em;
}

.statement {
  color: gray;
  font-size: 1.4em;
}

.copywrite {
  color: gray;
  text-align: right;
}